USE [AgendaMedica]
GO
/****** Object:  Table [dbo].[Cat_DiaSemana]    Script Date: 18/03/2026 10:19:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_DiaSemana](
	[IdDia] [int] IDENTITY(1,1) NOT NULL,
	[DescDia] [varchar](10) NULL,
	[Orden] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Cat_DiaSemana] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Especialidades]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Especialidades](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[DescEspecialidad] [varchar](50) NULL,
	[DuracionCita] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Cat_Especialidad] PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_EstadoCita]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_EstadoCita](
	[IdEstadoCita] [int] IDENTITY(1,1) NOT NULL,
	[DescEsatdoCita] [varchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Cat_EstadoCita] PRIMARY KEY CLUSTERED 
(
	[IdEstadoCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NULL,
	[IdPaciente] [int] NULL,
	[FechaCita] [date] NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
	[IdDiaSemana] [int] NULL,
	[Motivo] [varchar](500) NULL,
	[IdEstadoC] [int] NULL,
	[MotivoCancelacion] [varchar](500) NULL,
	[FechaCancelacion] [datetime] NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorariosMedicos]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosMedicos](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NULL,
	[IdDiaSemana] [int] NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_HorariosMedicos] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[IdEspecialidad] [int] NULL,
	[NumCedula] [varchar](20) NULL,
	[Nombre] [varchar](200) NULL,
	[Apellido] [varchar](200) NULL,
	[Tarifa] [decimal](18, 2) NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_Medicos] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Apellido] [varchar](200) NULL,
	[FechaNacimiento] [date] NULL,
	[NumTelefono] [varchar](20) NULL,
	[Correo] [varchar](150) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cat_DiaSemana] ON 

INSERT [dbo].[Cat_DiaSemana] ([IdDia], [DescDia], [Orden], [Estado]) VALUES (1, N'Lunes', 1, 1)
INSERT [dbo].[Cat_DiaSemana] ([IdDia], [DescDia], [Orden], [Estado]) VALUES (2, N'Martes', 2, 1)
INSERT [dbo].[Cat_DiaSemana] ([IdDia], [DescDia], [Orden], [Estado]) VALUES (3, N'Miércoles', 3, 1)
SET IDENTITY_INSERT [dbo].[Cat_DiaSemana] OFF
GO
SET IDENTITY_INSERT [dbo].[Cat_Especialidades] ON 

INSERT [dbo].[Cat_Especialidades] ([IdEspecialidad], [DescEspecialidad], [DuracionCita], [Estado]) VALUES (1, N'Medicina General', 20, 1)
INSERT [dbo].[Cat_Especialidades] ([IdEspecialidad], [DescEspecialidad], [DuracionCita], [Estado]) VALUES (2, N'Cardiología', 30, 1)
INSERT [dbo].[Cat_Especialidades] ([IdEspecialidad], [DescEspecialidad], [DuracionCita], [Estado]) VALUES (3, N'Cirugía', 45, 1)
SET IDENTITY_INSERT [dbo].[Cat_Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Cat_EstadoCita] ON 

INSERT [dbo].[Cat_EstadoCita] ([IdEstadoCita], [DescEsatdoCita], [Estado]) VALUES (1, N'Pendiente', 1)
INSERT [dbo].[Cat_EstadoCita] ([IdEstadoCita], [DescEsatdoCita], [Estado]) VALUES (2, N'Confirmada', 1)
INSERT [dbo].[Cat_EstadoCita] ([IdEstadoCita], [DescEsatdoCita], [Estado]) VALUES (3, N'Cancelada', 1)
SET IDENTITY_INSERT [dbo].[Cat_EstadoCita] OFF
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([IdCita], [IdMedico], [IdPaciente], [FechaCita], [HoraInicio], [HoraFin], [IdDiaSemana], [Motivo], [IdEstadoC], [MotivoCancelacion], [FechaCancelacion], [FechaCreacion], [Estado]) VALUES (1, 1, 1, CAST(N'2026-03-17' AS Date), CAST(N'08:00:00' AS Time), CAST(N'08:20:00' AS Time), NULL, N'Dolor de cabeza', 1, NULL, NULL, CAST(N'2026-03-16T23:22:10.830' AS DateTime), NULL)
INSERT [dbo].[Citas] ([IdCita], [IdMedico], [IdPaciente], [FechaCita], [HoraInicio], [HoraFin], [IdDiaSemana], [Motivo], [IdEstadoC], [MotivoCancelacion], [FechaCancelacion], [FechaCreacion], [Estado]) VALUES (2, 1, 2, CAST(N'2026-03-17' AS Date), CAST(N'08:20:00' AS Time), CAST(N'08:40:00' AS Time), NULL, N'Control presión', 1, NULL, NULL, CAST(N'2026-03-16T23:22:10.830' AS DateTime), NULL)
INSERT [dbo].[Citas] ([IdCita], [IdMedico], [IdPaciente], [FechaCita], [HoraInicio], [HoraFin], [IdDiaSemana], [Motivo], [IdEstadoC], [MotivoCancelacion], [FechaCancelacion], [FechaCreacion], [Estado]) VALUES (3, 2, 3, CAST(N'2026-03-19' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), NULL, N'Revisión cardiológica', 1, NULL, NULL, CAST(N'2026-03-16T23:22:10.830' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[HorariosMedicos] ON 

INSERT [dbo].[HorariosMedicos] ([IdHorario], [IdMedico], [IdDiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (1, 1, 1, CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1)
INSERT [dbo].[HorariosMedicos] ([IdHorario], [IdMedico], [IdDiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (2, 1, 2, CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1)
INSERT [dbo].[HorariosMedicos] ([IdHorario], [IdMedico], [IdDiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (3, 1, 3, CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[HorariosMedicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([IdMedico], [IdEspecialidad], [NumCedula], [Nombre], [Apellido], [Tarifa], [Estado]) VALUES (1, 1, N'1234567', N'Carlos', N'Ramírez Torres', CAST(350.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Medicos] ([IdMedico], [IdEspecialidad], [NumCedula], [Nombre], [Apellido], [Tarifa], [Estado]) VALUES (2, 2, N'2345678', N'Ana', N'González López', CAST(800.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Medicos] ([IdMedico], [IdEspecialidad], [NumCedula], [Nombre], [Apellido], [Tarifa], [Estado]) VALUES (3, 3, N'3456789', N'Roberto', N'Hernández Cruz', CAST(1200.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [Apellido], [FechaNacimiento], [NumTelefono], [Correo], [Estado]) VALUES (1, N'María', N'López Sánchez', CAST(N'1990-05-14' AS Date), N'5512345678', N'maria.lopez@email.com', 1)
INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [Apellido], [FechaNacimiento], [NumTelefono], [Correo], [Estado]) VALUES (2, N'Jorge', N'Pérez Martínez', CAST(N'1985-11-22' AS Date), N'5587654321', N'jorge.perez@email.com', 1)
INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [Apellido], [FechaNacimiento], [NumTelefono], [Correo], [Estado]) VALUES (3, N'Sofía', N'Torres Gómez', CAST(N'2000-03-08' AS Date), N'5599887766', N'sofia.torres@email.com', 1)
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_Agregar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Citas_Agregar]
    @IdMedico INT,
    @IdPaciente INT,
    @FechaCita DATE,
    @HoraInicio TIME,
    @HoraFin TIME,
    @IdDiaSemana INT,
    @Motivo VARCHAR(500),
    @IdEstadoC INT,
    @MotivoCancelacion VARCHAR(500),
    @FechaCancelacion DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MENSAJE VARCHAR(500) = '';
    DECLARE @Error BIT = 0;
    DECLARE @NuevoId INT = NULL;
    DECLARE @Existe BIT = 0;
    DECLARE @Traslape BIT = 0;

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Citas
            WHERE IdMedico = @IdMedico
              AND FechaCita = @FechaCita
              AND HoraInicio = @HoraInicio
              AND HoraFin = @HoraFin
              AND Estado = 1
        )
            SET @Existe = 1;

        IF @Existe = 1
        BEGIN
            SET @MENSAJE = 'Ya existe una cita con esos mismos datos.';
            SET @Error = 1;
        END
        ELSE
        BEGIN
            IF EXISTS (
                SELECT 1
                FROM Citas
                WHERE IdMedico = @IdMedico
                  AND FechaCita = @FechaCita
                  AND Estado = 1
                  AND @HoraInicio < HoraFin
                  AND @HoraFin > HoraInicio
            )
                SET @Traslape = 1;

            IF @Traslape = 1
            BEGIN
                SET @MENSAJE = 'No se puede agregar la cita. Existe conflicto de horario.';
                SET @Error = 1;
            END
            ELSE
            BEGIN
                BEGIN TRANSACTION;

                INSERT INTO Citas
                (
                    IdMedico,
                    IdPaciente,
                    FechaCita,
                    HoraInicio,
                    HoraFin,
                    IdDiaSemana,
                    Motivo,
                    IdEstadoC,
                    MotivoCancelacion,
                    FechaCancelacion,
                    FechaCreacion,
                    Estado
                )
                VALUES
                (
                    @IdMedico,
                    @IdPaciente,
                    @FechaCita,
                    @HoraInicio,
                    @HoraFin,
                    @IdDiaSemana,
                    @Motivo,
                    @IdEstadoC,
                    @MotivoCancelacion,
                    @FechaCancelacion,
                    GETDATE(),
                    1
                );

                SET @NuevoId = SCOPE_IDENTITY();

                COMMIT TRANSACTION;

                SET @MENSAJE = 'Cita agregada correctamente.';
                SET @Error = 0;
            END
        END

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR,
            @NuevoId AS NuevoId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @MENSAJE = ERROR_MESSAGE();
        SET @Error = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR,
            @NuevoId AS NuevoId;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Citas_Consultar]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MENSAJE VARCHAR(500) = '';
    DECLARE @Error BIT = 0;

    BEGIN TRY
        SELECT 
            IdCita,
            IdMedico,
            IdPaciente,
            FechaCita,
            HoraInicio,
            HoraFin,
            IdDiaSemana,
            Motivo,
            IdEstadoC,
            MotivoCancelacion,
            FechaCancelacion,
            Estado,
            FechaCreacion
        FROM Citas
        WHERE Estado = 1
        ORDER BY FechaCita, HoraInicio;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END TRY
    BEGIN CATCH
        SET @MENSAJE = ERROR_MESSAGE();
        SET @Error = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ConsultarById]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Citas_ConsultarById]
    @IdCita INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MENSAJE VARCHAR(500) = '';
    DECLARE @Error BIT = 0;

    BEGIN TRY
        SELECT 
            IdCita,
            IdMedico,
            IdPaciente,
            FechaCita,
            HoraInicio,
            HoraFin,
            IdDiaSemana,
            Motivo,
            IdEstadoC,
            MotivoCancelacion,
            FechaCancelacion,
            Estado
        FROM Citas
        WHERE IdCita = @IdCita
          AND Estado = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END TRY
    BEGIN CATCH
        SET @MENSAJE = ERROR_MESSAGE();
        SET @Error = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_Editar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Citas_Editar]
    @IdCita INT,
    @IdMedico INT,
    @IdPaciente INT,
    @FechaCita DATE,
    @HoraInicio TIME,
    @HoraFin TIME,
    @IdDiaSemana INT,
    @Motivo VARCHAR(500),
    @IdEstadoC INT,
    @MotivoCancelacion VARCHAR(500),
    @FechaCancelacion DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MENSAJE VARCHAR(500) = '';
    DECLARE @Error BIT = 0;
    DECLARE @Existe BIT = 0;

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Citas
            WHERE IdCita = @IdCita
        )
            SET @Existe = 1;

        IF @Existe = 0
        BEGIN
            SET @MENSAJE = 'No se puede editar. No existe el registro.';
            SET @Error = 1;
        END
        ELSE
        BEGIN
            BEGIN TRANSACTION;

            UPDATE Citas
            SET
                IdMedico = @IdMedico,
                IdPaciente = @IdPaciente,
                FechaCita = @FechaCita,
                HoraInicio = @HoraInicio,
                HoraFin = @HoraFin,
                IdDiaSemana = @IdDiaSemana,
                Motivo = @Motivo,
                IdEstadoC = @IdEstadoC,
                MotivoCancelacion = @MotivoCancelacion,
                FechaCancelacion = @FechaCancelacion
            WHERE IdCita = @IdCita;

            COMMIT TRANSACTION;

            SET @MENSAJE = 'Cita editada correctamente.';
            SET @Error = 0;
        END

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @MENSAJE = ERROR_MESSAGE();
        SET @Error = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_Eliminar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Citas_Eliminar]
    @IdCita INT,
    @ConfirmaEliminar BIT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MENSAJE VARCHAR(500) = '';
    DECLARE @Error BIT = 0;
    DECLARE @Estado BIT = NULL;

    BEGIN TRY
        SELECT TOP 1 
            @Estado = Estado
        FROM Citas
        WHERE IdCita = @IdCita;

        IF @Estado IS NULL
        BEGIN
            SET @MENSAJE = 'No se puede eliminar. No existe el registro.';
            SET @Error = 1;
        END
        ELSE
        BEGIN
            BEGIN TRANSACTION;

            IF @ConfirmaEliminar = 1
            BEGIN
                DELETE FROM Citas
                WHERE IdCita = @IdCita;

                SET @MENSAJE = 'Cita eliminada correctamente.';
            END
            ELSE
            BEGIN
                UPDATE Citas
                SET Estado = 0
                WHERE IdCita = @IdCita;

                SET @MENSAJE = 'Cita desactivada correctamente.';
            END

            COMMIT TRANSACTION;
        END

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @MENSAJE = ERROR_MESSAGE();
        SET @Error = 1;

        SELECT 
            @MENSAJE AS MENSAJE,
            @Error AS ERROR;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ObtenerAgendaDiariaMedico]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ObtenerAgendaDiariaMedico]
    @IdMedico INT,
    @FechaCita DATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            C.IdCita,
            C.IdMedico,
            C.IdPaciente,
            CONCAT(P.Nombre, ' ', P.Apellido) AS Paciente,
            C.FechaCita,
            C.HoraInicio,
            C.HoraFin,
            C.IdDiaSemana,
            C.Motivo,
            C.IdEstadoC,
            EC.DescEsatdoCita AS EstadoCita,
            C.MotivoCancelacion,
            C.FechaCancelacion,
            C.FechaCreacion,
            C.Estado
        FROM Citas C
        INNER JOIN Pacientes P
            ON P.IdPaciente = C.IdPaciente
        INNER JOIN cat_EstadoCita EC
            ON EC.IdEstadoCita = C.IdEstadoC
        WHERE C.IdMedico = @IdMedico
          AND C.FechaCita = @FechaCita
          AND C.Estado = 1
        ORDER BY C.HoraInicio;

        SELECT
            'Agenda consultada correctamente.' AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarActivaPorId]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarActivaPorId]
    @IdCita INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Activa BIT = 0;
    DECLARE @Mensaje VARCHAR(200) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Citas
            WHERE IdCita = @IdCita
              AND Estado = 1
        )
        BEGIN
            SET @Activa = 1;
            SET @Mensaje = 'La cita existe y está activa.';
        END
        ELSE
        BEGIN
            SET @Activa = 0;
            SET @Mensaje = 'La cita no existe o está inactiva.';
        END

        SELECT 
            @Activa AS Activa,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Activa,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarConflictoHorarioMedico]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarConflictoHorarioMedico]
    @IdMedico INT,
    @FechaCita DATE,
    @HoraInicio TIME(7),
    @HoraFin TIME(7)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HayConflicto BIT = 0;
    DECLARE @Mensaje VARCHAR(250) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Citas
            WHERE IdMedico = @IdMedico
              AND FechaCita = @FechaCita
              AND Estado = 1
              AND @HoraInicio < HoraFin
              AND @HoraFin > HoraInicio
        )
        BEGIN
            SET @HayConflicto = 1;
            SET @Mensaje = 'Existe conflicto de horario para el médico.';
        END
        ELSE
        BEGIN
            SET @HayConflicto = 0;
            SET @Mensaje = 'No existe conflicto de horario para el médico.';
        END

        SELECT 
            @HayConflicto AS HayConflicto,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS HayConflicto,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarDisponibilidadMedico]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarDisponibilidadMedico]
    @IdMedico INT,
    @FechaCita DATE,
    @HoraInicio TIME(7),
    @DuracionMinutos INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdDiaSemana INT;
    DECLARE @HoraFinCalculada TIME(7);
    DECLARE @HoraInicioJornada TIME(7);
    DECLARE @HoraFinJornada TIME(7);
    DECLARE @Disponible BIT = 0;
    DECLARE @Mensaje VARCHAR(300) = '';

    BEGIN TRY
        SET DATEFIRST 1; -- lunes = 1
        SET @IdDiaSemana = DATEPART(WEEKDAY, @FechaCita);

        -- Calcular hora fin correctamente
        SET @HoraFinCalculada = CONVERT(
            TIME(7),
            DATEADD(
                MINUTE,
                @DuracionMinutos,
                CAST('2000-01-01 ' + CONVERT(VARCHAR(8), @HoraInicio, 108) AS DATETIME)
            )
        );

        -- Buscar jornada del médico
        SELECT TOP 1
            @HoraInicioJornada = HM.HoraInicio,
            @HoraFinJornada = HM.HoraFin
        FROM HorariosMedicos HM
        WHERE HM.IdMedico = @IdMedico
          AND HM.IdDiaSemana = @IdDiaSemana
          AND HM.Estado = 1;

        -- Validar si el médico tiene horario ese día
        IF @HoraInicioJornada IS NULL OR @HoraFinJornada IS NULL
        BEGIN
            SET @Disponible = 0;
            SET @Mensaje = 'El médico no tiene horario configurado para ese día.';
        END
        -- Validar que la cita no empiece antes
        ELSE IF @HoraInicio < @HoraInicioJornada
        BEGIN
            SET @Disponible = 0;
            SET @Mensaje = 'La cita inicia antes del horario de atención del médico.';
        END
        -- Validar que la cita no termine después
        ELSE IF @HoraFinCalculada > @HoraFinJornada
        BEGIN
            SET @Disponible = 0;
            SET @Mensaje = 'La cita termina fuera del horario de atención del médico.';
        END
        -- Validar conflicto con otras citas
        ELSE IF EXISTS
        (
            SELECT 1
            FROM Citas C
            WHERE C.IdMedico = @IdMedico
              AND C.FechaCita = @FechaCita
              AND C.Estado = 1
              AND @HoraInicio < C.HoraFin
              AND @HoraFinCalculada > C.HoraInicio
        )
        BEGIN
            SET @Disponible = 0;
            SET @Mensaje = 'El médico ya tiene una cita en ese horario.';
        END
        ELSE
        BEGIN
            SET @Disponible = 1;
            SET @Mensaje = 'El médico sí tiene disponibilidad en ese horario.';
        END

        SELECT
            @Disponible AS Disponible,
            @Mensaje AS Mensaje,
            @IdDiaSemana AS IdDiaSemana,
            @HoraInicio AS HoraInicioSolicitada,
            @HoraFinCalculada AS HoraFinCalculada,
            @HoraInicioJornada AS HoraInicioJornada,
            @HoraFinJornada AS HoraFinJornada,
            CAST(0 AS BIT) AS [Error];
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Disponible,
            ERROR_MESSAGE() AS Mensaje,
            NULL AS IdDiaSemana,
            @HoraInicio AS HoraInicioSolicitada,
            NULL AS HoraFinCalculada,
            NULL AS HoraInicioJornada,
            NULL AS HoraFinJornada,
            CAST(1 AS BIT) AS [Error];
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarEstadoCitaExistePorId]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarEstadoCitaExistePorId]
    @IdEstadoC INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Existe BIT = 0;
    DECLARE @Mensaje VARCHAR(200) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM cat_EstadoCita
            WHERE IdEstadoCita = @IdEstadoC
        )
        BEGIN
            SET @Existe = 1;
            SET @Mensaje = 'El estado de cita existe.';
        END
        ELSE
        BEGIN
            SET @Existe = 0;
            SET @Mensaje = 'El estado de cita no existe.';
        END

        SELECT 
            @Existe AS Existe,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Existe,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarExistePorId]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarExistePorId]
    @IdCita INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Existe BIT = 0;
    DECLARE @Mensaje VARCHAR(200) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Citas
            WHERE IdCita = @IdCita
        )
        BEGIN
            SET @Existe = 1;
            SET @Mensaje = 'La cita existe.';
        END
        ELSE
        BEGIN
            SET @Existe = 0;
            SET @Mensaje = 'La cita no existe.';
        END

        SELECT 
            @Existe AS Existe,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Existe,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarMedicoExistePorId]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarMedicoExistePorId]
    @IdMedico INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Existe BIT = 0;
    DECLARE @Mensaje VARCHAR(200) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Medicos
            WHERE IdMedico = @IdMedico
        )
        BEGIN
            SET @Existe = 1;
            SET @Mensaje = 'El médico existe.';
        END
        ELSE
        BEGIN
            SET @Existe = 0;
            SET @Mensaje = 'El médico no existe.';
        END

        SELECT 
            @Existe AS Existe,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Existe,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Citas_ValidarPacienteExistePorId]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Citas_ValidarPacienteExistePorId]
    @IdPaciente INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Existe BIT = 0;
    DECLARE @Mensaje VARCHAR(200) = '';

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM Pacientes
            WHERE IdPaciente = @IdPaciente
        )
        BEGIN
            SET @Existe = 1;
            SET @Mensaje = 'El paciente existe.';
        END
        ELSE
        BEGIN
            SET @Existe = 0;
            SET @Mensaje = 'El paciente no existe.';
        END

        SELECT 
            @Existe AS Existe,
            @Mensaje AS Mensaje,
            CAST(0 AS BIT) AS Error;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS Existe,
            ERROR_MESSAGE() AS Mensaje,
            CAST(1 AS BIT) AS Error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiaSemana_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DiaSemana_Consultar]
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdDia,
               DescDia,
               Estado
               
        FROM cat_DiaSemana 
        WHERE  Estado = 1
        ORDER BY Orden
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.
        
        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
          

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Especialidades_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Especialidades_Consultar]
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdEspecialidad,
               DescEspecialidad,
               Estado
               
        FROM cat_especialidades
        WHERE Estado = 1
        ORDER BY IdEspecialidad
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
           

END
GO
/****** Object:  StoredProcedure [dbo].[sp_EstadoCita_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EstadoCita_Consultar]
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdEstadoCita,
               DescEsatdoCita,
               Estado
               
        FROM cat_EstadoCita
        WHERE Estado = 1
        ORDER BY IdEstadoCita
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
      

END
GO
/****** Object:  StoredProcedure [dbo].[sp_HorariosMedicos_Agregar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HorariosMedicos_Agregar]
    @IdMedico   int,
    @IdDiaSemana  int,
    @HoraInicio time,
    @HoraFin    time
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @MENSAJE    varchar(500)
    DECLARE @Error      bit  = 0
    DECLARE @NuevoId    int  = NULL
    DECLARE @Traslape   int  = 0   -- por si existenten horarios que  se traslapan

    BEGIN TRY

        -- Validación HoraFin debe ser mayor que HoraInicio
        IF @HoraFin <= @HoraInicio
        BEGIN
            SET @MENSAJE = 'La hora de fin debe ser mayor a la hora de inicio.'
            SET @Error   = 1
        END
        ELSE
        BEGIN
            -- Detección de traslape:
            -- Hay traslape si el nuevo intervalo se cruza con alguno existente
            -- Condición: NuevoInicio < ExistenteFin AND NuevoFin > ExistenteInicio
            SELECT @Traslape = COUNT(*)
            FROM   HorariosMedicos
            WHERE  IdMedico   = @IdMedico
              AND  IdDiaSemana  = @IdDiaSemana
              AND  Estado     = 1
              AND  @HoraInicio < HoraFin      -- el nuevo empieza antes de que termine el existente
              AND  @HoraFin   > HoraInicio    -- el nuevo termina después de que empiece el existente

            IF @Traslape > 0
            BEGIN
                SET @MENSAJE = 'Traslape detectado. Ya existe un horario en ese día que se cruza con el intervalo indicado. Edita el horario existente.'
                SET @Error   = 1
            END
            ELSE
            BEGIN
                BEGIN TRANSACTION

                    INSERT INTO HorariosMedicos (IdMedico, IdDiaSemana, HoraInicio, HoraFin, Estado)
                    VALUES (@IdMedico, @IdDiaSemana, @HoraInicio, @HoraFin, 1)

                    SET @NuevoId = SCOPE_IDENTITY()

                COMMIT TRANSACTION

                SET @MENSAJE = 'Horario agregado correctamente.'
                SET @Error   = 0
            END
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR,
           @NuevoId AS NuevoId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_HorariosMedicos_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HorariosMedicos_Consultar]
    @IdHorarioMedicos int = NULL,
    @IdMedico         int = NULL,
    @IdEspecialidad   int = NULL,
    @DiaSemana        int = NULL
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        SELECT 
            HM.IdHorario,
            HM.IdMedico,
            CONCAT(M.Nombre, ' ', M.Apellido) AS Medico,
            M.IdEspecialidad,
            CE.DescEspecialidad,
            HM.IdDiaSemana,
            DS.DescDia,
            HM.HoraInicio,
            HM.HoraFin
        FROM       HorariosMedicos  HM
        INNER JOIN Medicos          M   ON M.IdMedico        = HM.IdMedico
        INNER JOIN Cat_DiaSemana    DS  ON DS.IdDia    = HM.IdDiaSemana
        INNER JOIN Cat_Especialidades CE  ON CE.IdEspecialidad = M.IdEspecialidad
        WHERE
            HM.Estado = 1
            AND (@IdHorarioMedicos IS NULL OR HM.IdHorario = @IdHorarioMedicos)
            AND (@IdMedico         IS NULL OR HM.IdMedico         = @IdMedico)
            AND (@DiaSemana        IS NULL OR HM.IdDiaSemana      = @DiaSemana)
            AND (@IdEspecialidad   IS NULL OR M.IdEspecialidad    = @IdEspecialidad)
        ORDER BY HM.IdDiaSemana, HM.HoraInicio

    END TRY
    BEGIN CATCH

        SELECT
            ERROR_MESSAGE() AS MENSAJE,
            1               AS ERROR

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_HorariosMedicos_ConsultarById]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HorariosMedicos_ConsultarById]
    @IdHorario int    -- requerido, sin default NULL porque es "ById"
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        SELECT 
            HM.IdHorario,
            HM.IdMedico,
            CONCAT(M.Nombre, ' ', M.Apellido) AS Medico,
            M.IdEspecialidad,
            CE.DescEspecialidad,
            HM.IdDiaSemana,
            DS.DescDia,
            HM.HoraInicio,
            HM.HoraFin
        FROM       HorariosMedicos  HM
        INNER JOIN Medicos          M   ON M.IdMedico        = HM.IdMedico
        INNER JOIN Cat_DiaSemana    DS  ON DS.IdDia    = HM.IdDiaSemana
        INNER JOIN Cat_Especialidades CE  ON CE.IdEspecialidad = M.IdEspecialidad
        WHERE
            HM.IdHorario = @IdHorario
            AND HM.Estado = 1

    END TRY
    BEGIN CATCH

        SELECT
            ERROR_MESSAGE() AS MENSAJE,
            1               AS ERROR

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_HorariosMedicos_Editar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HorariosMedicos_Editar]
    @IdHorario int,
    @IdMedico        int,
    @IdDiaSemana     int,
    @HoraInicio      time,
    @HoraFin         time,
    @Estado          bit
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @MENSAJE  varchar(500)
    DECLARE @Error    bit = 0
    DECLARE @Traslape int = 0
    DECLARE @Existe   bit = NULL   -- para verificar si el registro existe

    BEGIN TRY

        -- Verificar que el horario existe
        SELECT TOP 1 @Existe = Estado
        FROM   HorariosMedicos
        WHERE  IdHorario = @IdHorario

        IF @Existe IS NULL
        BEGIN
            SET @MENSAJE = 'El horario no existe.'
            SET @Error   = 1
        END
        ELSE IF @HoraFin <= @HoraInicio
        BEGIN
            SET @MENSAJE = 'La hora de fin debe ser mayor a la hora de inicio.'
            SET @Error   = 1
        END
        ELSE
        BEGIN
            -- Traslape excluyendo el propio registro con <> @IdHorario
            SELECT @Traslape = COUNT(*)
            FROM   HorariosMedicos
            WHERE  IdMedico        = @IdMedico
              AND  IdDiaSemana     = @IdDiaSemana
              AND  Estado          = 1
              AND  IdHorario <> @IdHorario  -- ← excluir el registro actual
              AND  @HoraInicio     < HoraFin
              AND  @HoraFin        > HoraInicio

            IF @Traslape > 0
            BEGIN
                SET @MENSAJE = 'Traslape detectado. El horario se cruza con uno existente.'
                SET @Error   = 1
            END
            ELSE
            BEGIN
                BEGIN TRANSACTION

                    UPDATE HorariosMedicos SET
                        IdMedico    = @IdMedico,
                        IdDiaSemana = @IdDiaSemana,
                        HoraInicio  = @HoraInicio,
                        HoraFin     = @HoraFin,
                        Estado      = @Estado
                    WHERE IdHorario = @IdHorario  -- sin coma antes del WHERE

                COMMIT TRANSACTION

                SET @MENSAJE = 'Horario editado correctamente.'
                SET @Error   = 0
            END
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR

END
GO
/****** Object:  StoredProcedure [dbo].[sp_HorariosMedicos_Eliminar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HorariosMedicos_Eliminar]
    @IdHorario int, 
    @IdMedico int,
    @IdDiaSemana int,
    @ConfirmaEliminar INT
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Existe bit = NULL  -- NULL = no existe
 

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Existe = Estado
        FROM   HorariosMedicos
        WHERE  IdHorario = @IdHorario
        AND IdMedico = @IdMedico
        AND @IdDiaSemana = @IdDiaSemana
         IF @Existe = 0
        BEGIN
            SET @MENSAJE = 'No se puede ELIMINAR. No existe el registro'
            SET @Error   = 1
        END
        ELSE IF @Existe = 1  -- @Estado IS NULL → no existe, se inserta
        BEGIN
        IF @ConfirmaEliminar = 1
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    DELETE FROM  HorariosMedicos 
                    WHERE 
                        IdHorario = @IdHorario
                       
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'HORARIO ELIMINADO correctamente.'
                SET @Error   = 0
            END
            ELSE
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    UPDATE  HorariosMedicos SET  
                     Estado = 0
                    WHERE IdHorario = @IdHorario
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'HORARIO DESACTIVADO correctamente.'
                SET @Error   = 0
            END
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
           

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Eliminar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Medico_Eliminar]
    @IdMedico int, 
    @ConfirmaEliminar int 
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Existe bit = NULL  -- NULL = no existe
    

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Existe = Estado
        FROM   Medicos
        WHERE  IdMedico = @IdMedico
        --and Nombre = @Nombre

         IF @Existe IS NULL
        BEGIN
            SET @MENSAJE = 'No se puede ELIMINAR. No existe el registro'
            SET @Error   = 1
        END
        ELSE IF @Existe = 1  -- @Estado IS NULL → no existe, se inserta
        BEGIN
            IF @ConfirmaEliminar = 1
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    DELETE FROM  Medicos 
                    WHERE 
                        IdMedico = @IdMedico
                       
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'Medico ELIMINADO correctamente.'
                SET @Error   = 0
            END
            ELSE
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    UPDATE  Medicos SET  
                     Estado = 0
                    WHERE IdMedico = @IdMedico
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'Medico DESACTIVADO correctamente.'
                SET @Error   = 0
            END
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicos_Agregar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Medicos_Agregar]
    @NumCedula      varchar(15),
    @Nombre         varchar(100),
    @Apellido       varchar(100),
    @IdEspecialidad int,
    @Tarifa         decimal(10,2)
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Estado bit = NULL  -- NULL = no existe
    DECLARE @NuevoId int = NULL

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Estado = Estado
        FROM   Medicos
        WHERE  Nombre         = @Nombre
          AND  Apellido       = @Apellido
          AND  IdEspecialidad = @IdEspecialidad
          AND  Tarifa         = @Tarifa

        IF @Estado = 1
        BEGIN
            SET @MENSAJE = 'Existe en la BD. Esta Activo.'
            SET @Error   = 1
        END
        ELSE IF @Estado = 0
        BEGIN
            SET @MENSAJE = 'Existe en la BD. No esta Activo.'
            SET @Error   = 1
        END
        ELSE  -- @Estado IS NULL → no existe, se inserta
        BEGIN
        -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
            BEGIN TRANSACTION -- inicia una transacción

                INSERT INTO Medicos (NumCedula,Nombre, Apellido, IdEspecialidad, Tarifa, Estado)
                VALUES (@NumCedula,@Nombre, @Apellido, @IdEspecialidad, @Tarifa, 1)

                -- Obtiene el nuevo Id generado de cualquier sesion, más seguro que @@IDENTITY
                SET @NuevoId = SCOPE_IDENTITY()  

            COMMIT TRANSACTION -- confirma la transacción.

            SET @MENSAJE = 'Medico agregado correctamente.'
            SET @Error   = 0
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR,
           @NuevoId AS NuevoId  

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicos_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Medicos_Consultar]
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdMedico,
               NumCedula, 
                Nombre, 
                Apellido, 
                IdEspecialidad, 
                Tarifa,
                Estado   
        FROM Medicos 
        WHERE  ESTADO =  1
        ORDER BY Apellido, Nombre
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
         

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicos_ConsultarById]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Medicos_ConsultarById]
    @IdMedico int 
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdMedico,
               NumCedula, 
                Nombre, 
                Apellido, 
                IdEspecialidad, 
                Tarifa,
                Estado   
        FROM Medicos 
        where IdMedico = @IdMedico
        AND Estado = 1
        ORDER BY Apellido, Nombre
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
           

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicos_Editar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Medicos_Editar]
    @IdMedico int, 
    @Nombre varchar(100),
    @Cedula varchar(50),
    @Apellido varchar(100),
    @IdEspecialidad int,
    @Tarifa decimal(10,2),
    @Estado bit
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Existe bit = NULL  -- NULL = no existe
    

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Existe = Estado
        FROM   Medicos
        WHERE  IdMedico = @IdMedico
        and NumCedula = @Cedula

         IF @Existe = 0
        BEGIN
            SET @MENSAJE = 'No se puede editar. No existe el registro'
            SET @Error   = 1
        END
        ELSE IF @Existe = 1  -- @Estado IS NULL → no existe, se inserta
        BEGIN
        -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
            BEGIN TRANSACTION -- inicia una transacción

                UPDATE  Medicos SET  
                NumCedula = @Cedula, 
                Nombre = @Nombre, 
                Apellido = @Apellido, 
                IdEspecialidad = @IdEspecialidad, 
                Tarifa = @Tarifa,
                Estado = @Estado
                WHERE IdMedico = @IdMedico
            COMMIT TRANSACTION -- confirma la transacción.

            SET @MENSAJE = 'Medico editado correctamente.'
            SET @Error   = 0
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
           

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pacientes_Agregar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pacientes_Agregar]
    @Nombre  varchar(100),
    @Apellido varchar(100),
    @FechaNacimiento Date,
    @Telefono  varchar(20),
    @Correo varchar(150)
    
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Estado bit = NULL  -- NULL = no existe
    DECLARE @NuevoId int = NULL

    BEGIN TRY 

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Estado = Estado
        FROM   Pacientes
        WHERE  Nombre         = @Nombre
          AND  Apellido       = @Apellido
          AND  FechaNacimiento = @FechaNacimiento
          AND  NumTelefono         = @Telefono
          AND  Correo         = @Correo

        IF @Estado = 1
        BEGIN
            SET @MENSAJE = 'Existe en la BD. Esta Activo.'
            SET @Error   = 1
        END
        ELSE IF @Estado = 0
        BEGIN
            SET @MENSAJE = 'Existe en la BD. No esta Activo.'
            SET @Error   = 1
        END
        ELSE  -- @Estado IS NULL → no existe, se inserta
        BEGIN
        -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
            BEGIN TRANSACTION -- inicia una transacción

                INSERT INTO Pacientes (Nombre, Apellido, FechaNacimiento, NumTelefono, Correo, Estado)
                VALUES (@Nombre, @Apellido, @FechaNacimiento, @Telefono,@Correo,1)

                -- Obtiene el nuevo Id generado de cualquier sesion, más seguro que @@IDENTITY
                SET @NuevoId = SCOPE_IDENTITY()  

            COMMIT TRANSACTION -- confirma la transacción.

            SET @MENSAJE = 'Paciente agregado correctamente.'
            SET @Error   = 0
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR,
           @NuevoId AS NuevoId  

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pacientes_Consultar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pacientes_Consultar]
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdPaciente,
               Nombre, 
               Apellido, 
               FechaNacimiento, 
               NumTelefono, 
               Correo,
               Estado   
        FROM Pacientes 
        WHERE  ESTADO =  1
        ORDER BY Apellido, Nombre
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
         

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pacientes_ConsultarById]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pacientes_ConsultarById]
@IdPaciente int 
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
 
    BEGIN TRY
        SELECT 
               IdPaciente,
               Nombre, 
               Apellido, 
               FechaNacimiento, 
               NumTelefono, 
               Correo,
               Estado   
        FROM Pacientes 
        WHERE  ESTADO =  1
        and IdPaciente = @IdPaciente
        ORDER BY Apellido, Nombre
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
         

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pacientes_Editar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pacientes_Editar]
    @IdPaciente int, 
    @Nombre varchar(100),
    @Apellido varchar(100),
    @FechaNacimiento DATE,
    @NumTelefono VARCHAR(20),
    @Correo VARCHAR(50),
    @Estado bit
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Existe bit = NULL  -- NULL = no existe
    

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Existe = Estado
        FROM   Pacientes
        WHERE  IdPaciente = @IdPaciente
        and Nombre = @Nombre

         IF @Existe = 0
        BEGIN
            SET @MENSAJE = 'No se puede editar. No existe el registro'
            SET @Error   = 1
        END
        ELSE IF @Existe = 1  -- @Estado IS NULL → no existe, se inserta
        BEGIN
        -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
            BEGIN TRANSACTION -- inicia una transacción

                UPDATE  Pacientes SET  
                
                Nombre = @Nombre, 
                Apellido = @Apellido, 
                FechaNacimiento = @FechaNacimiento, 
                NumTelefono = @NumTelefono,
                Correo = @Correo,
                Estado = @Estado
                WHERE IdPaciente = @IdPaciente
            COMMIT TRANSACTION -- confirma la transacción.

            SET @MENSAJE = 'Medico editado correctamente.'
            SET @Error   = 0
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
           

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Pacientes_Eliminar]    Script Date: 18/03/2026 10:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Pacientes_Eliminar]
    @IdPaciente int, 
    
    @ConfirmaEliminar int 
AS
BEGIN
    -- desactiva esos mensajes tipo (1 row affected) para evitar interferencias en asp.net. espuesta es más limpia y ligeramente más rápida
    SET NOCOUNT ON  

    DECLARE @MENSAJE varchar(500)  
    DECLARE @Error bit = 0
    DECLARE @Existe bit = NULL  -- NULL = no existe
    

    BEGIN TRY

        ---Select para saber de la existencia del registro , se optiene el estado del medico
        SELECT TOP 1 @Existe = Estado
        FROM   Pacientes
        WHERE  IdPaciente = @IdPaciente
       -- and Nombre = @Nombre

         IF @Existe IS NULL
        BEGIN
            SET @MENSAJE = 'No se puede ELIMINAR. No existe el registro'
            SET @Error   = 1
        END
        ELSE IF @Existe = 1  -- @Estado IS NULL → no existe, se inserta
        BEGIN
            IF @ConfirmaEliminar = 1
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    DELETE FROM  Pacientes 
                    WHERE 
                        IdPaciente = @IdPaciente
                       
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'Paciente ELIMINADO correctamente.'
                SET @Error   = 0
            END
            ELSE
            BEGIN
                -- Transacciones.- Bloques de operaciones que deben ejecutarse como una unidad.
                BEGIN TRANSACTION -- inicia una transacción

                    UPDATE  Pacientes SET  
                     Estado = 0
                    WHERE IdPaciente = @IdPaciente
                COMMIT TRANSACTION -- confirma la transacción.

                SET @MENSAJE = 'Paciente DESACTIVADO correctamente.'
                SET @Error   = 0
            END
        END

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0  -- solo hace rollback si hay transacción abierta
            ROLLBACK TRANSACTION -- revierte la transacción.

        SET @MENSAJE = ERROR_MESSAGE()
        SET @Error   = 1

    END CATCH

    SELECT @MENSAJE AS MENSAJE,
           @Error   AS ERROR
 
END
GO
